.chat {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
}

.chat-bar {
  padding: 10px 16px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.chat-bar-receiver {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.chat-window {
  display: grid;
  grid-auto-rows: min-content;
  align-content: end;
  grid-template-columns: 1fr;
  row-gap: 12px;

  padding: 10px 16px;
}

.chat-actions {
  padding: 10px 16px;
  border-top: 1px solid #D3D3D3;

  display: grid;
  grid-template-columns: 1fr 56px;
}
